.card {
  width: 14rem;
  height: 20rem;
  text-align: center;
  box-shadow: 0 8px 5px rgb(93, 92, 92);
  border-radius: 5px;
  background-color: aliceblue;
  position: relative;
}

.pokemon-image {
  max-width: 8rem;
  max-height: 10rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
}

.pokemon-name {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: aliceblue;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-button {
  color: #fabdbd;
  font-size: 2rem;
  background-color: aliceblue;
  position: absolute;
  top: .4rem;
  right: .4rem;
  cursor: pointer;
}

.delete-button:hover {
  color: #b40404;
}

.img {
  background-image: url('../../../assets/pokemon.jpg');
  background-size: 15rem 20rem
}

