.navbar{
  height: 5.5rem;
  background-color: #ef5350;
  box-shadow: 0 4px #c62828;
}

.logo-section{
  padding-left: 2.5rem;
  width: 4rem;
}

.logo{
  height: 4rem;
  padding: 0;
  margin: 0 0 1.5rem 0;
}

.nav-btns{
  justify-content: end;
}

a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0 1.5rem;
  height: 100%;
  font-family: 'Gluten', cursive;
  font-size: 1.7rem;
  align-items: center;
  cursor: pointer;
}

a:hover {
  font-weight: bolder;
  animation: pulse;
  animation-duration: 2s;
}

a:active {
  font-weight: 500;
}
