<div class="navbar">
  <section class="logo-section">
    <img class="logo" src="assets/logo.png"  alt="pokemon-logo">
  </section>
  <section class="nav-btns" *ngIf="trainerLoggedIn()">
    <a class="active" (click)="onCatalogueClick()">Catalogue</a>
    <a class="active" (click)="onTrainerClick()">My page</a>
    <a class="active logout" (click)="onLogoutClick()">
      Log out
    </a>
  </section>
</div>
