.card {
  margin-top: 2.5rem;
  margin-left: 3rem;
  height: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  background-color: white;
  font-size: 2rem;
}

.body {
  padding: 3.5rem;
}
