.elements-in {
  width: 100%;
  position: relative;
}

.input-field {
  font-size: 1.5rem;
  font-family: 'Roboto Slab', serif;
  width: 90%;
  display: flex;
  border-radius: 1rem;
  border: 5px solid #3B4CCA;
  margin: 5rem 3rem;
  padding: 1.5rem;
  box-shadow: 2px 2px #1c1c1c;
}

.button {
  position: absolute;
  margin: 5rem 4rem 0 0;
  padding: 0;
  border-radius: 0.5rem;
  z-index: 2;
  border: 2px solid #3B4CCA;
  top: 7%;
  height: 3.5rem;
  width: 7%;
  cursor: pointer;
  color: #ffcb05;
  background-color: #262649;
  box-shadow: 1px 2px #192e63;
}

.icon{
  font-size: 3rem;
  margin: 0.2rem 0 0.5rem 0;
  text-shadow: 2px 2px #c8a107;
}

.validation-box{
  width: 90%;
  margin-left: 4rem;
}

.attempting{
  color: black;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px){
  .button {
    width: 8%;
  }
}

@media screen and (max-width: 860px){
  .button {
    width: 10%;
  }
}

@media screen and (max-width: 610px){
  .button {
    width: 12%;
  }
}
