<form #loginForm="ngForm" (ngSubmit)="onSubmit(trainer.value)">
  <div class="elements-in">
    <section class=" d-flex justify-content-center ">
      <input type="text"
             ngModel
             #trainer="ngModel"
             id="trainer"
             name="trainer"
             minlength="2"
             maxlength="30"
             pattern="[A-Za-z]+"
             required
             placeholder="Type in your trainer name"
             class="input-field">
      <div class="d-flex justify-content-end">
        <button type="submit" class="button" [disabled]="loginForm.form.invalid" aria-label="Login button">
          <span class="material-icons icon">forward</span>
        </button>
      </div>
    </section>
    <section *ngIf="trainer.errors && (trainer.dirty || trainer.touched)">
      <div class="alert alert-danger validation-box justify-content-center">
        <p class="d-flex align-items-center mb-0" *ngIf="trainer.errors.pattern">
          <span class="material-icons">warning</span>
          Username can only contain letters
        </p>
        <p class="d-flex align-items-center mb-0 pr-0" *ngIf="trainer.errors.minlength">
          <span class="material-icons">warning</span>
          Your trainer name must have more than 1 character
        </p>
        <p class="d-flex align-items-center mb-0" *ngIf="trainer.errors.required">
          <span class="material-icons">warning</span>
          Please enter your trainer name
        </p>
      </div>
    </section>
    <section *ngIf="attempting">
      <div class="alert alert-secondary validation-box">
        <p *ngIf="attempting" class="attempting">
          <span class="material-icons">hourglass_bottom</span>
          Trying to login...
        </p>
      </div>
    </section>
  </div>

</form>
