.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.pagination button {
  margin: .3rem;
  border: 2px solid #FFDE00;
  font-size: 1.2rem;
  color: #FFDE00;
  padding: 0 1rem ;
  border-radius: 1rem;
  background-color: #262649;
}

.pagination p {
  font-size: 1.6rem;
  color: #FFDE00;
  margin: 0 1rem;
}

.inline-icon {
  position: relative;
  top: 6px;
}
