* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gluten', sans-serif;
}

body{
  background-color: #262649;
}

h1 {
  color: #FFDE00;
  font-size: 3.5rem;
}

.title {
  text-align: center;
  padding-top: 4rem;
}

h2, h3, h4, h5, h6, p, button{
  font-family: 'Gluten', cursive;
}
